header{
    background-color: #2b9de3e8;
    padding: 2px;
    margin: 0px 0px 10px;
}

.titulo{
    background-color: #7dbbe8e8;
    padding: 2px;
    margin: 0px 0px 10px;
}

body{
    background-color: #545555;
    color: rgb(174, 174, 174);
    font-family: Helvetica, sans-serif;
}

.sobre-mim{
    background-color: #071f2ee8;
    padding: 2px;
}
.sobremim{
    background-color: #2b9de3e8;
    padding: 2px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0px 0px 10px;

    font-size: 20px;
    color: black;

}
.menu li{
    background-color: #8cc9efe8;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.menu a {
  color: black;
  text-decoration: none;          /* Tira o sublinhado do link */
  font-weight: bold;
}

.cards{
    max-width: 250px;
    margin: auto;
    position: center;

    background-color: #787979e8;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    
}

